{% assign va = 'home' %}


<div class="m-page-carousel">
  <div class="m-page-header flex">
    <div class="header-left">
      <div class="header-inner">
        <h1>
          {% assign page_intro = pages[va].metafields.airf.page_intro %}
          {% if page_intro and page_intro != '&nbsp' %}
              {{ page_intro }}
          {% endif %}
        </h1>
      </div>
      <div class="img-wrapper">
        {% assign page_image = pages[va].metafields.airf.page_image %}
        {% if page_image and page_image != '&nbsp' %}
            <img class="car_img display" src="{{ page_image }}" />
        {% endif %}
        {% assign page_ima_2 = pages[va].metafields.airf.page_ima_2 %}
        {% if page_ima_2 and page_ima_2 != '&nbsp' %}
            <img class="car_img" src="{{ page_ima_2 }}" />
        {% endif %}
        {% assign page_im_th = pages[va].metafields.airf.page_im_th %}
        {% if page_im_th and page_im_th != '&nbsp' %}
            <img class="car_img" src="{{ page_im_th }}" />
        {% endif %}
      </div>
      <div class="carousel-footer">
        <p>Mind - Body - Spirit</p>
        <div class="m-blob">
          <div class="blob display"></div>
          <div class="blob"></div>
          <div class="blob"></div>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <h1 class="v2">
          {% assign hp_top = pages[va].metafields.airf.hp_top %}
          {% if hp_top and hp_top != '&nbsp' %}
              {{ hp_top }}
          {% endif %}
          </h1>
          <div class="prompts flex">
            <a href="/pages/discover#our-people">• Practitioner</a> <a href="/collections/events">• Events</a> <a href="/collections/retreats">• Retreats</a> <a href="/collections/classes">• Classes</a>
          </div>
          <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
            <div class="search-form__input-wrapper">
              <input
                type="text"
                name="q"
                placeholder="Wellness, Yoga, Mindfulness, Breathwork"
                role="combobox"
                aria-autocomplete="list"
                aria-owns="predictive-search-results"
                aria-expanded="false"
                aria-label="{{ 'general.search.placeholder' | t }}"
                aria-haspopup="listbox"
                class="search-form__input search-bar__input"
                data-predictive-search-drawer-input
              />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
            </div>

            <button class="search-bar__submit search-form__submit"
              type="submit"
              data-search-form-submit>
              {% include 'icon-search' %}
              <span class="icon__fallback-text">Search</span>
            </button>
          </form>
        </div>
        <div class="header-right-after-search">
          <div class="dot"></div>
          <div class="line"></div>
          <div class="horizontal-line"></div>
        </div>
        <div class="header-footer">
          <p><a href="#our-people">Book Practitioners</a> & <a href="#our-people">Find practices</a> for tailored or <a href="/pages/contact#corporate">corporate</a> wellness.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-about">
  <div class="home-text-wrapper" uk-scrollspy="target: > h2; cls: uk-animation-fade; delay: 700">
    <h1 class="two-line" ><span data-content="Why" class='typeOut handwritten'></span> Mamma?</h1>
    <h2>
      {% assign page_text = pages[va].metafields.airf.page_text %}
      {% if page_text and page_text != '&nbsp' %}
          {{ page_text }}
      {% endif %}
    </h2>
  </div>
  <div class="home-about-footer">
    <a href="/pages/discover#our-calendar"><button>Book a Practice</button></a> <a href="/pages/discover#our-people"><button>Find a Practioner</button></a> <a href="/pages/about"><button href="/pages/about">About us</button></a>
  </div>
</div>
<div class="home-about practice-list">
  <div class="home-about-line">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 687.63 301.21"><defs><clipPath id="clip-path"><path class="cls-1" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-2"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-6"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-7"><path class="cls-3" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-8"><path class="cls-3" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-9"><path class="cls-3" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/></clipPath><clipPath id="clip-path-10"><path class="cls-4" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-11"><path class="cls-4" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-12"><path class="cls-4" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-13"><path class="cls-5" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-14"><path class="cls-5" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-15"><path class="cls-5" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-16"><path class="cls-6" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-17"><path class="cls-6" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-18"><path class="cls-6" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-19"><path class="cls-7" d="M-175.51 255.42c-69 14.36-131.27 12.46-185-5.63-43-14.49-80.7-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.48-.35c.16.67 16.62 67.63 69.67 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.43 19.87 184.16 5.57z"/></clipPath><clipPath id="clip-path-20"><path class="cls-7" d="M-162.06 240a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><style>.cls-1,.cls-2,.cls-8{fill:#272d7a}.cls-1,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{clip-rule:evenodd}.cls-14,.cls-16,.cls-3{fill:#e4e2d5}.cls-19,.cls-21,.cls-4{fill:#d3b8b8}.cls-24,.cls-26,.cls-5{fill:#eebdab}.cls-29,.cls-31,.cls-6{fill:#acbfb0}.cls-7{fill:none}.cls-14,.cls-19,.cls-24,.cls-29,.cls-8{fill-rule:evenodd}.cls-10{clip-path:url(#clip-path-2)}</style></defs><path class="cls-8" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M162.91 45.26h377v226h-377z"/></g></g><path class="cls-8" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-3)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M536.91 236.26h24v24h-24z"/></g></g><path class="cls-8" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-5)"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/><g clip-path="url(#clip-path-6)"><path class="cls-2" d="M154.45 20.92h24v24h-24z"/></g></g><path class="cls-14" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-7)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-8)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/><g clip-path="url(#clip-path-9)"><path class="cls-16" d="M-981.91-1934.7h1440v2652h-1440z"/></g><path class="cls-19" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-10)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-11)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-12)"><path class="cls-21" d="M-264.55-1937.34h1440v2652h-1440z"/></g><path class="cls-24" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-13)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-14)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-15)"><path class="cls-26" d="M-977.94-1613.67h1440v2652h-1440z"/></g><path class="cls-29" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-16)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-17)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-18)"><path class="cls-31" d="M-256.62-1612.35h1440v2652h-1440z"/></g></svg>
  </div>

  <div class="home-about-line-two">
    <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 687.63 301.21"><defs><clipPath id="clip-path"><path class="cls-1" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-2"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-6"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-7"><path class="cls-3" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-8"><path class="cls-3" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-9"><path class="cls-3" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/></clipPath><clipPath id="clip-path-10"><path class="cls-4" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-11"><path class="cls-4" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-12"><path class="cls-4" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-13"><path class="cls-5" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-14"><path class="cls-5" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-15"><path class="cls-5" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-16"><path class="cls-6" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-17"><path class="cls-6" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-18"><path class="cls-6" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-19"><path class="cls-7" d="M-175.51 255.42c-69 14.36-131.27 12.46-185-5.63-43-14.49-80.7-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.48-.35c.16.67 16.62 67.63 69.67 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.43 19.87 184.16 5.57z"/></clipPath><clipPath id="clip-path-20"><path class="cls-7" d="M-162.06 240a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><style>.cls-1,.cls-2,.cls-8{fill:#272d7a}.cls-1,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{clip-rule:evenodd}.cls-14,.cls-16,.cls-3{fill:#e4e2d5}.cls-19,.cls-21,.cls-4{fill:#d3b8b8}.cls-24,.cls-26,.cls-5{fill:#eebdab}.cls-29,.cls-31,.cls-6{fill:#acbfb0}.cls-7{fill:none}.cls-14,.cls-19,.cls-24,.cls-29,.cls-8{fill-rule:evenodd}.cls-10{clip-path:url(#clip-path-2)}</style></defs><path class="cls-8" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M162.91 45.26h377v226h-377z"/></g></g><path class="cls-8" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-3)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M536.91 236.26h24v24h-24z"/></g></g><path class="cls-8" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-5)"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/><g clip-path="url(#clip-path-6)"><path class="cls-2" d="M154.45 20.92h24v24h-24z"/></g></g><path class="cls-14" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-7)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-8)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/><g clip-path="url(#clip-path-9)"><path class="cls-16" d="M-981.91-1934.7h1440v2652h-1440z"/></g><path class="cls-19" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-10)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-11)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-12)"><path class="cls-21" d="M-264.55-1937.34h1440v2652h-1440z"/></g><path class="cls-24" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-13)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-14)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-15)"><path class="cls-26" d="M-977.94-1613.67h1440v2652h-1440z"/></g><path class="cls-29" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-16)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-17)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-18)"><path class="cls-31" d="M-256.62-1612.35h1440v2652h-1440z"/></g></svg>
  </div>
  <div class="home-text-wrapper">
    <h1><span class='typeOut handwritten' data-content="How can"></span> Mamma help you?</h1>
  </div>
  <div class="home-practice-list">
    {% assign home = linklists.home %}
    {% for link in home.links %}
      <a href="{{ link.url }}">
        {% if link.title == 'Self Care' %}
          {% include 'hand-svg' %}
        {% elsif link.title == 'Spiritual Growth' %}
          {% include 'moon-svg' %}
        {% elsif link.title == 'Fitness' %}
          {% include 'fitness-svg' %}
        {% elsif link.title == 'Yoga' %}
          {% include 'yoga-svg' %}
        {% elsif link.title == 'General Health' %}
          {% include 'health-svg' %}
        {% elsif link.title == 'Pain & Chronic Conditions' %}
          {% include 'pain-svg' %}
        {% elsif link.title == 'Nutrition' %}
          {% include 'nutrition-svg' %}
        {% elsif link.title == 'Wellbeing' %}
          {% include 'wellbeing-svg' %}
        {% elsif link.title == 'Meditation' %}
          {% include 'meditation-svg' %}
        {% elsif link.title == 'Relationships' %}
          {% include 'relationships-svg' %}
        {% elsif link.title == "I don't know" %}
          {% include 'dont-know-svg' %}
        {% else %}
          {% include 'practice-svg' %}
        {% endif %}
        <span>{{ link.title }}</span></a>
    {% endfor %}
  </div>
</div>
<div class="m-calendar-title">
  <h1>Find your place, <span class="handwritten typeOut" data-content="Book a practice"></span></h1>
</div>
<div class="m-calendar-home-wrapper">
  <div class="page-width">
    <div class="m-calendar-outer-wrapper flex">
      {% include 'our-calendar-home' %}
      {% include 'our-events' %}
    </div>
  </div>
</div>
{% include 'our-people' %}
<div class="m-calendar-title book">
  <h1>Book <span class="typeOut handwritten" data-content="now"></span></h1>
</div>
<div class="m-page-header flex m-discover-cta home">
  <div class="header-left" uk-scrollspy="cls:uk-animation-fade; delay: 400">
    <div class="header-inner">
      <h1>Dive in</h1>
    </div>
      {% assign page_img_4 = pages[va].metafields.airf.page_img_4 %}
      {% if page_img_4 and page_img_4 != '&nbsp' %}
          <img src="{{ page_img_4 }}" />
      {% endif %}
  </div>
  <div class="header-right" uk-scrollspy="cls:uk-animation-fade; delay: 600">
    {% include 'mamma-badge' %}
    <div class="header-inner">
      <div class="header-inner-content">
        <div class="border">
          <h1>Book now</h1>
          <h2>Find a practice</h2>
          <ul>
            <li><a href="/collections/events-and-retreats">Events & Retreats</a></li>
            <li><a href="/pages/discover#our-people">Book a Practitioner</a></li>
            <li><a href="/pages/discover#our-practices">Choose a Therapy</a></li>
            <li><a href="/pages/contact#corporate">Corporate Wellbeing</a></li>
            <li><a href="/pages/contact#corporate">Group & Concierge</a></li>
          </ul>
        </div>
        <p>Can’t find what you are looking for?</p>
        <a href="/pages/contact#ContactForm"><button class="m-button">Book a call</button></a>
      </div>
    </div>
  </div>
</div>
<div class="about-page" uk-scrollspy="cls:uk-animation-fade; delay: 400">
  {% include 'about-top' %}
</div>
<div class="m-instagram">
    <h1>Mamma Community</h1>
    <div id="insta-feed"></div>
    <ul><li><a href="/pages/discover#our-calendar">Book a Practice</a></li> <li><a href="/pages/discover#our-people">Find a Practitioner</a></li> <li><a href="https://joinmamma.com/">Join us as Practitioner</a></li> <li><a href="https://mammawellbeing.com/pages/about">About us</a></li></ul>
</div>
