
<div class="page-width">
  <div class="suprise-me-content">

  </div>
</div>
<div id="our-calendar" class="m-calendar">
  <div class="page-width">
    <div class="m-calendar-wrapper">
      <div class="flex">
        <h1>All Practices</h1>
        <ul class="m-filters-calendar">
          <li>
            <select name="practices" id="practices" class="practices-filter">
              <option value="all">Filter by Practices</option>
              <option value="all">All</option>
              {% capture optionsList %}
              {% for events in collections.all.products %}
                {% assign practice = events.metafields.airf.practice %}
                {{practice}},
              {% endfor %}
              {% endcapture %}
              {% assign uniqpracticeOptions = optionsList | split: ',' | uniq | join: ',' %}
              {% assign practiceOptions = uniqpracticeOptions | split: ',' %}
              {% for practices in practiceOptions %}
                <option value="{{practices | downcase | strip | strip_html | strip_newlines | replace: ' ', '-' }}">{% if practices and practices != '&nbsp' and practices != '' %}{{practices | strip | strip_html | strip_newlines }}{% endif %}</option>
              {% endfor %}
            </select>
          </li>
          <li>
            <select name="location" id="location" class="location-filter">
              <option value="all">Filter by Location</option>
              <option value="all">All</option>
              {% capture optionsListLocation %}
              {% for events in collections.all.products %}
                {% assign location = events.metafields.airf.location %}
                {{location}},
              {% endfor %}
              {% endcapture %}
              {% assign uniqlocationOptions = optionsListLocation | split: ',' | uniq | join: ',' %}
              {% assign locationOptions = uniqlocationOptions | split: ',' %}
              {% for locations in locationOptions %}
                <option value="{{locations | downcase | strip | strip_html | strip_newlines | replace: ' ', '-' }}">{% if locations and locations != '&nbsp' and locations != '' %}{{locations | strip | strip_html | strip_newlines }}{% endif %}</option>
              {% endfor %}
            </select>
          </li>
          <li>
            <select name="location" id="location" class="practitioner-filter">
              <option value="all">Filter by Practitioner</option>
              <option value="all">All</option>
              {% capture optionsListPractitioner %}
              {% for events in collections.all.products %}
                {% assign practition = events.metafields.airf.practition %}
                {{practition}},
              {% endfor %}
              {% endcapture %}
              {% assign uniqpractiotionerOptions = optionsListPractitioner | split: ',' | uniq | join: ',' %}
              {% assign practitionerOptions = uniqpractiotionerOptions | split: ',' %}
              {% for practitioner in practitionerOptions %}
                <option value="{{practitioner | downcase | strip | strip_html | strip_newlines | replace: ' ', '-' }}">{% if practitioner and practitioner != '&nbsp' and practitioner != '' %}{{practitioner | strip | strip_html | strip_newlines }}{% endif %}</option>
              {% endfor %}
            </select>
          </li>
          <!-- <li>
            <select name="location" id="location" class="difficulty-filter">
              <option value="all">Filter by <span>Difficulty</span></option>
              <option value="all">All</option>
              {% capture optionsListDifficulty %}
              {% for events in collections.all.products %}
                {% assign level = events.metafields.airf.level %}
                {{level}},
              {% endfor %}
              {% endcapture %}
              {% assign uniqdifficultyOptions = optionsListDifficulty | split: ',' | uniq | join: ',' %}
              {% assign difficultyOptions = uniqdifficultyOptions | split: ',' %}
              {% for difficulty in difficultyOptions %}
                <option value="{{difficulty | downcase | strip | strip_html | strip_newlines | replace: ' ', '-' }}">{{difficulty | strip | strip_html | strip_newlines }}</option>
              {% endfor %}
            </select>
          </li> -->
          <li>
            <select name="location" id="location" class="type-filter">
              <option value="all">Filter by Type</option>
              <option value="all">All</option>
              {% capture optionsListType %}
              {% for events in collections.all.products %}
                {% assign type = events.metafields.airf.type %}
                {{type}},
              {% endfor %}
              {% endcapture %}
              {% assign uniqtypeOptions = optionsListType | split: ',' | uniq | join: ',' %}
              {% assign typeOptions = uniqtypeOptions | split: ',' %}
              {% for type in typeOptions %}
                <span>{{type | strip | strip_html | strip_newlines }}</span>
                <option value="{{type | downcase | strip | strip_html | strip_newlines | replace: ' ', '-' }}">{% if type and type != '&nbsp' and type != '' %}{{type | strip | strip_html | strip_newlines }}{% endif %}</option>
              {% endfor %}
            </select>
          </li>
        </ul>
      </div>
      <ul>
        <li class="no-results"><span class="m-event-title"><span uk-icon="icon: warning"></span> Sorry there are no <span class="js-type"></span> at the moment</span></li>
        {% for events in collections.all.products %}
          {% unless events.tags contains 'shop' %}
            {% assign practition = events.metafields.airf.practition %}
            {% assign level = events.metafields.airf.level %}
            {% assign pregnancy_ = events.metafields.airf.pregnancy_ %}
            {% assign speed = events.metafields.airf.speed %}
            {% assign space = events.metafields.airf.space %}
            {% assign type = events.metafields.airf.type %}
            {% assign practice = events.metafields.airf.practice %}
            {% assign location = events.metafields.airf.location %}
            {% assign locationSplit = location | split: ',' %}
            {% assign date = events.metafields.airf.date %}
            <li class="m-cal-item All {{type}} {% for local in locationSplit %} {{local | strip | downcase | replace: ' ', '-' }} {% endfor %} {{practice | strip | downcase | replace: ' ', '-'}} {{practition | strip | downcase | replace: ' ', '-'}} {{type | strip | downcase | replace: ' ', '-'}}" data-type="{{type}}">
              <span class="m-event-title">{{events.title}}</span>
              <span class="m-event-meta">{% if date and date != '&nbsp' %}{{date}} • {% endif %}{% if practition and practition != '&nbsp' %}{{practition}} • {% endif %}{% if speed and speed != '&nbsp' %}{{speed}} • {% endif %}{% if space and space != '&nbsp' %}{{space}} • {% endif %}{% if type and type != '&nbsp' %}{{type}} • {% endif %}{% if practice and practice != '&nbsp' %}{{practice}}{% endif %}{% if pregnancy_ == "true" %} • Pregnancy{% endif %} • {% if location and location != '&nbsp' %}{{location}}{% endif %} <a href="{{events.url}}">Read More</a></span>
              <a href="{{events.url}}"><div class="m-button">Book now</div></a>
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
