<div class="m-calendar">
  <div class="page-width">
    <div class="m-calendar-wrapper">
      <div class="flex">
        <h1>All Practices</h1>
        <ul class="m-filters-calendar">
          <li>
            <select name="practices" id="practices" class="practices-filter">
              <option value="coaching">Filter by Practices</option>
              <option value="coaching">Coaching</option>
            </select>
          </li>
          <li>Filter by Location</li>
          <li>Filter by Practitioner</li>
          <li>Filter by Difficulty</li>
          <li>Filter by Type</li>
          <li>Filter by Price</li>
        </ul>
      </div>
      <ul>
        <li class="no-results"><span class="m-event-title"><span uk-icon="icon: warning"></span> Sorry there are no <span class="js-type"></span> at the moment</span></li>
        {% for events in collections.all.products %}
          {% assign practition = events.metafields.airf.practition %}
          {% assign level = events.metafields.airf.level %}
          {% assign pregnancy_ = events.metafields.airf.pregnancy_ %}
          {% assign speed = events.metafields.airf.speed %}
          {% assign space = events.metafields.airf.space %}
          {% assign type = events.metafields.airf.type %}
          {% assign practice = events.metafields.airf.practice %}
          <li class="m-cal-item All {{type}}" data-type="{{type}}">
            <span class="m-event-title">{{events.title}}</span>
            <span class="m-event-meta">{% if practition %}{{practition}} • {% endif %}{% if speed %}{{speed}} • {% endif %}{% if space %}{{space}} • {% endif %}{% if type %}{{type}} • {% endif %}{% if practice %}{{practice}}{% endif %}{% if pregnancy_  == "true" %} • Pregnancy{% endif %} <a href="{{events.url}}">Read More</a></span>
            <a href="{{events.url}}"><div class="m-button">Book now</div></a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
