<!-- Vue -->
<!-- This is to temporarily fix the mismatch of some slugs -->
{% if collection.handle == 'magda-weglowska-oliveira' %}
  {% assign slug = 'magda-weglowskaoliveira' %}
{% else %}
    {% assign slug = collection.handle %}
{% endif %}
<div id="app" class="m-people-placeholder {{slug}}">
  <div class="m-page-header flex practitioner practioner-bio practice-sticky" v-for="practioner in practioners" v-if="practioner.slug === '{{slug | lowercase}}'">
    <template>
      <div class="header-left">
        <div class="header-inner"></div>
        <img v-bind:src="practioner.profile_picture">
      </div>
      <div class="header-right">
        <div class="header-inner">
          <div class="header-inner-content">
            <div class="m-practioner-info">
              <h1>${practioner.full_name}</h1>
              <h2>${practioner.practice}</h2>
              <span v-html="$options.filters.replacePractice(practioner.short_bio)"></span>
              <a href="#collection-template"><div class="m-button">Book Now</div></a>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <div class="m-people-info-gallery" v-for="practioner in practioners" v-if="practioner.slug === '{{slug}}'">
    <template>
      <div class="bullet-wrapper">
        <div class="home-about-line">
          <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 687.63 301.21"><defs><clipPath id="clip-path"><path class="cls-1" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-2"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-3"><path class="cls-1" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-5"><path class="cls-1" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-6"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/></clipPath><clipPath id="clip-path-7"><path class="cls-3" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-8"><path class="cls-3" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-9"><path class="cls-3" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/></clipPath><clipPath id="clip-path-10"><path class="cls-4" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/></clipPath><clipPath id="clip-path-11"><path class="cls-4" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-12"><path class="cls-4" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-13"><path class="cls-5" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-14"><path class="cls-5" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-15"><path class="cls-5" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><clipPath id="clip-path-16"><path class="cls-6" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/></clipPath><clipPath id="clip-path-17"><path class="cls-6" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-18"><path class="cls-6" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/></clipPath><clipPath id="clip-path-19"><path class="cls-7" d="M-175.51 255.42c-69 14.36-131.27 12.46-185-5.63-43-14.49-80.7-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.48-.35c.16.67 16.62 67.63 69.67 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.43 19.87 184.16 5.57z"/></clipPath><clipPath id="clip-path-20"><path class="cls-7" d="M-162.06 240a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/></clipPath><style>.cls-1,.cls-2,.cls-8{fill:#272d7a}.cls-1,.cls-3,.cls-4,.cls-5,.cls-6,.cls-7{clip-rule:evenodd}.cls-14,.cls-16,.cls-3{fill:#e4e2d5}.cls-19,.cls-21,.cls-4{fill:#d3b8b8}.cls-24,.cls-26,.cls-5{fill:#eebdab}.cls-29,.cls-31,.cls-6{fill:#acbfb0}.cls-7{fill:none}.cls-14,.cls-19,.cls-24,.cls-29,.cls-8{fill-rule:evenodd}.cls-10{clip-path:url(#clip-path-2)}</style></defs><path class="cls-8" d="M534.91 256.74c-69 14.36-131.26 12.46-185-5.63-43-14.49-80.71-39.33-112-73.82-53.29-58.71-69.82-126-70-126.68l1.49-.35c.15.67 16.61 67.63 69.66 126.05 31.14 34.28 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M162.91 45.26h377v226h-377z"/></g></g><path class="cls-8" d="M548.36 241.28a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-3)"><path class="cls-2" d="M117.91-2037.74h1440v2652h-1440z"/><g class="cls-10"><path class="cls-2" d="M536.91 236.26h24v24h-24z"/></g></g><path class="cls-8" d="M165.9 25.94a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-5)"><path class="cls-2" d="M-264.55-2253.08h1440v2652h-1440z"/><g clip-path="url(#clip-path-6)"><path class="cls-2" d="M154.45 20.92h24v24h-24z"/></g></g><path class="cls-14" d="M-182.45 575.12c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.7-69.82-126-70-126.67l1.49-.36c.16.67 16.62 67.64 69.67 126.05 31.13 34.29 68.6 59 111.36 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-7)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-169 559.66a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-8)"><path class="cls-16" d="M-599.45-1719.36h1440v2652h-1440z"/></g><path class="cls-14" d="M-551.46 344.33a7 7 0 017.53 6.42 7 7 0 01-6.43 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.52"/><g clip-path="url(#clip-path-9)"><path class="cls-16" d="M-981.91-1934.7h1440v2652h-1440z"/></g><path class="cls-19" d="M534.91 572.48c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.71-39.32-112-73.82-53.29-58.71-69.82-126-70-126.67l1.49-.36c.15.67 16.61 67.63 69.66 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.44 19.88 184.17 5.58z"/><g clip-path="url(#clip-path-10)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M548.36 557a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-11)"><path class="cls-21" d="M117.91-1722h1440V930h-1440z"/></g><path class="cls-19" d="M165.9 341.68a7 7 0 11-6.43 7.53 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-12)"><path class="cls-21" d="M-264.55-1937.34h1440v2652h-1440z"/></g><path class="cls-24" d="M-178.49 896.15c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126.05 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-13)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-165 880.69a7 7 0 017.53 6.43 7 7 0 01-6.43 7.53 7 7 0 01-7.52-6.43 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-14)"><path class="cls-26" d="M-595.49-1398.33h1440v2652h-1440z"/></g><path class="cls-24" d="M-547.49 665.35a7 7 0 017.52 6.43 7 7 0 01-6.42 7.53 7 7 0 01-7.53-6.43 7 7 0 016.43-7.53"/><g clip-path="url(#clip-path-15)"><path class="cls-26" d="M-977.94-1613.67h1440v2652h-1440z"/></g><path class="cls-29" d="M542.83 897.47c-69 14.36-131.26 12.47-185-5.63-43-14.49-80.7-39.32-112-73.82-53.3-58.71-69.83-126-70-126.67l1.49-.36c.16.67 16.62 67.63 69.67 126 31.14 34.29 68.61 59 111.37 73.36 53.47 18 115.43 19.88 184.16 5.58z"/><g clip-path="url(#clip-path-16)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M556.28 882a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-17)"><path class="cls-31" d="M125.83-1397.01h1440v2652h-1440z"/></g><path class="cls-29" d="M173.82 666.67a7 7 0 11-6.42 7.53 7 7 0 016.42-7.53"/><g clip-path="url(#clip-path-18)"><path class="cls-31" d="M-256.62-1612.35h1440v2652h-1440z"/></g></svg>
        </div>
        <div class="page-width">
          <div class="m-people-info-left">
            <ul>
              <li v-if="practioner.bullet_1">${practioner.bullet_1}</li>
              <li v-if="practioner.bullet_2">${practioner.bullet_2}</li>
              <li v-if="practioner.bullet_3">${practioner.bullet_3}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="page-width">
        <div class="flex">
          <div class="m-people-info-left">
              <div class="m-people-container" v-html="$options.filters.replacePractice(practioner.description)"></div>
              <a href="#collection-template"><div class="m-button">Book Now</div></a>
          </div>
          <div class="m-people-info-center">
            <p class="bold"><span uk-icon="icon: location"></span>${practioner.location}</p>
            <p class="bold"><span uk-icon="icon: home"></span>${practioner.how}</p>
            <p v-if="practioner.social_ig"><span uk-icon="icon: instagram"></span><a href="${practioner.social_ig}">Instagram</a></p>
            <p v-if="practioner.social_tw"><span uk-icon="icon: twitter"></span><a href="${practioner.social_tw}">Twitter</a></p>
            <p v-if="practioner.social_fb"><span uk-icon="icon: facebook"></span><a href="${practioner.social_fb}">Facebook</a></p>

            <div class="header-right-after-search">
              <div class="dot"></div>
              <div class="line"></div>
              <div class="horizontal-line"></div>
            </div>
          </div>
          <div class="m-people-info-right">
            <div class="m-people-info-gallery-inner">
              <div v-if="practioner.gallery_1"><img v-bind:src="practioner.gallery_1"></div>
              <div v-if="practioner.gallery_2"><img v-bind:src="practioner.gallery_2"></div>
              <div v-if="practioner.gallery_3"><img v-bind:src="practioner.gallery_3"></div>
              <div v-if="practioner.gallery_4"><img v-bind:src="practioner.gallery_4"></div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
  <div class="m-people-testimonial" v-for="practioner in practioners" v-if="practioner.slug === '{{slug}}'">
    <template v-if="practioner.testimonial">
    <div class="page-width">
      <div class="flex">
        <div class="testimonial-image">
          <div class="testimonial-image-one">
            <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/95.JPEG?v=1601238972">
          </div>
          <div class="testimonial-image-two">
            <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/photo-1519340601983-64485f2281a6.jpeg?v=1601238971">
          </div>
        </div>
        <div class="testimonial-text">
          <h1>What people say</h1>
          <pre>
            <blockquote>${practioner.testimonial}</blockquote>
          </pre>
        </div>
      </div>
    </div>
    </template>
  </div>
</div>

<!-- Shopify -->
{% case section.settings.grid %}
  {% when 2 %}
    {%- assign max_height = 530 -%}
  {% when 3 %}
    {%- assign max_height = 345 -%}
  {% when 4 %}
    {%- assign max_height = 250 -%}
  {% when 5 %}
    {%- assign max_height = 195 -%}
{% endcase %}

{% if section.settings.layout == 'grid' %}
  {%- assign limit = section.settings.grid | times: section.settings.rows -%}
{% else %}
  {%- assign limit = 16 -%}
{% endif %}

{% paginate collection.products by limit %}

<div id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="collection-template">
  <div class="m-page-header flex practice-sticky">
    <div class="header-left">
      <div class="header-inner">
      </div>
      {% for product in collection.products limit:1 %}
        <img src="{{ product | img_url: '1300x' }}" />
      {% endfor %}
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <h1 class="collection-title">{{collection.title}}</h1>
          <h1 class="section-title"><span class="underline blue">Session <span class="handwritten">Details</span></span></h1>
          <p class="collection-description">{{collection.description}}</p>
          {% for product in collection.products %}
          {%- assign metadata = product.metafields.experiences -%}
          {%- assign durationHours = metadata.duration | divided_by: 60 -%}
          {%- assign durationMinutes = metadata.duration | modulo: 60 -%}
            <div class="collections-product">
              <h1>
                {{product.title}}
                <span class="practice">
                  <span>
                    {% if durationHours != 0 %}
                      {{ durationHours }}h
                    {% endif %}
                    {% if durationMinutes != 0 %}
                      {{ durationMinutes }}min
                    {% endif %}
                  </span>
                </span>
              </h1>
              <h2>{{product.price | money }}</h2>
              <div class="m-button-wrapper">
                <a href="{{ product.url }}"><div class="m-button">Book now</div></a>
                <a href="https://mammawellbeing.com/pages/contact?discovery-call-{{product.title | handle}}-{{ metadata.summary | handle }}"><div class="m-button">Book a discovery call</div></a>
              </div>
            </div>
          {% endfor %}
          <div class="collection-description">{{ collection.description }}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact">
  {% capture emailPraction %}${practioner.email}{% endcapture %}
  {% assign practionerNameSplit = collection.handle | split: '-' %}
  {% assign practionerName = practionerNameSplit[0] %}
  {% include 'contact-form-practice' %}
</div>

{% endpaginate %}



{% schema %}
{
  "name": {
    "da": "Kollektionssider",
    "de": "Kategorie-Seiten",
    "en": "Collection pages",
    "es": "Páginas de colección",
    "fi": "Kokoelman sivut",
    "fr": "Pages de collections",
    "hi": "कलेक्शन पेज",
    "it": "Pagine di collezioni",
    "ja": "コレクションページ",
    "ko": "컬렉션 페이지",
    "nb": "Samlingssider",
    "nl": "Collectiepagina's",
    "pt-BR": "Páginas de coleções",
    "pt-PT": "Páginas de coleções",
    "sv": "Produktseriesidor",
    "th": "หน้าคอลเลกชัน",
    "zh-CN": "产品系列页面",
    "zh-TW": "商品系列頁面"
  },
  "settings": [
    {
      "type": "select",
      "id": "layout",
      "label": {
        "da": "Layout",
        "de": "Layout",
        "en": "Layout",
        "es": "Diseño",
        "fi": "Asettelu",
        "fr": "Mise en page",
        "hi": "लेआउट",
        "it": "Layout",
        "ja": "レイアウト",
        "ko": "레이아웃",
        "nb": "Oppsett",
        "nl": "Opmaak",
        "pt-BR": "Layout",
        "pt-PT": "Esquema",
        "sv": "Layout",
        "th": "เลย์เอาต์",
        "zh-CN": "布局",
        "zh-TW": "版面配置"
      },
      "default": "grid",
      "options": [
        {
          "value": "grid",
          "label": {
            "da": "Gitter",
            "de": "Raster",
            "en": "Grid",
            "es": "Cuadrícula",
            "fi": "Ruudukko",
            "fr": "Grille",
            "hi": "ग्रिड",
            "it": "Griglia",
            "ja": "グリッド",
            "ko": "그리드",
            "nb": "Rutenett",
            "nl": "Raster",
            "pt-BR": "Grade",
            "pt-PT": "Grelha",
            "sv": "Rutnät",
            "th": "กริด",
            "zh-CN": "网格",
            "zh-TW": "網格"
          }
        },
        {
          "value": "list",
          "label": {
            "da": "Liste",
            "de": "Liste",
            "en": "List",
            "es": "Lista",
            "fi": "Luettelo",
            "fr": "Liste",
            "hi": "सूची",
            "it": "Elenco",
            "ja": "リスト",
            "ko": "목록",
            "nb": "Liste",
            "nl": "Lijst",
            "pt-BR": "Lista",
            "pt-PT": "Lista",
            "sv": "Lista",
            "th": "รายการ",
            "zh-CN": "列表",
            "zh-TW": "清單"
          }
        }
      ]
    },
    {
      "type": "range",
      "id": "grid",
      "label": {
        "da": "Produkter pr. række (kun gitter)",
        "de": "Produkte per Reihe (nur Raster)",
        "en": "Products per row (grid only)",
        "es": "Productos por fila (solo cuadrícula)",
        "fi": "Tuotteita per rivi (vain ruudukko)",
        "fr": "Produits par rangée (grille uniquement)",
        "hi": "उत्पाद प्रति पंक्ति (केवल ग्रिड)",
        "it": "Prodotti per riga (solo griglia)",
        "ja": "行あたりの商品数（グリッドのみ）",
        "ko": "열 별 제품 (그리드 전용)",
        "nb": "Produkter per rad (kun rutenett)",
        "nl": "Producten per rij (alleen raster)",
        "pt-BR": "Produtos por linha (somente grade)",
        "pt-PT": "Produtos por linha (somente grelha)",
        "sv": "Produkter per rad (endast rutnät)",
        "th": "สินค้าต่อแถว (กริดเท่านั้น)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每列產品數 (僅限網格)"
      },
      "default": 4,
      "min": 2,
      "max": 5,
      "step": 1
    },
    {
      "type": "range",
      "id": "rows",
      "label": {
        "da": "Rækker pr. side (kun gitter)",
        "de": "Reihen per Seite (nur Raster)",
        "en": "Rows per page (grid only)",
        "es": "Filas por página (solo cuadrícula)",
        "fi": "Rivejä per sivu (vain ruudukko)",
        "fr": "Rangées par page (grille uniquement)",
        "hi": "प्रति पृष्ठ पंक्तियां (केवल ग्रिड)",
        "it": "Righe per pagina (solo griglia)",
        "ja": "ページあたりの行数（グリッドのみ）",
        "ko": "페이지 별 열 (그리드 전용)",
        "nb": "Rader per side (kun rutenett)",
        "nl": "Rijen per pagina (alleen raster)",
        "pt-BR": "Linhas por página (somente grade)",
        "pt-PT": "Linhas por página (somente grelha)",
        "sv": "Rader per sida (endast rutnät)",
        "th": "แถวต่อหน้า (กริดเท่านั้น)",
        "zh-CN": "每行产品数（仅限网格）",
        "zh-TW": "每頁列數 (僅限網格)"
      },
      "default": 2,
      "min": 2,
      "max": 8,
      "step": 1
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": {
        "da": "Vis kollektionsbillede",
        "de": "Kategorie-Foto anzeigen",
        "en": "Show collection image",
        "es": "Mostrar imagen de la colección",
        "fi": "Näytä kokoelman kuva",
        "fr": "Afficher l'image de la collection",
        "hi": "कलेक्शन इमेज दिखाएं",
        "it": "Mostra immagine collezione",
        "ja": "コレクションの画像を表示する",
        "ko": "컬렉션 이미지 표시",
        "nb": "Vis samlingsbilde",
        "nl": "Collectieafbeelding weergeven",
        "pt-BR": "Exibir imagem da coleção",
        "pt-PT": "Mostrar imagem da coleção",
        "sv": "Visa produktseriebilder",
        "th": "แสดงรูปภาพคอลเลกชัน",
        "zh-CN": "显示产品系列图片",
        "zh-TW": "顯示商品系列圖片"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "da": "Vis produktleverandører",
        "de": "Produkt-Lieferanten anzeigen",
        "en": "Show product vendors",
        "es": "Mostrar proveedores del producto",
        "fi": "Näytä tuotteen myyjät",
        "fr": "Afficher les vendeurs",
        "hi": "उत्पाद विक्रेताओं को दिखाएं",
        "it": "Mostra fornitori prodotto",
        "ja": "商品の販売元を表示する",
        "ko": "제품 공급 업체 표시",
        "nb": "Vis produktleverandører",
        "nl": "Productleveranciers weergeven",
        "pt-BR": "Exibir fornecedores do produto",
        "pt-PT": "Mostrar fornecedores do produto",
        "sv": "Visa produktleverantörer",
        "th": "แสดงผู้ขายสินค้า",
        "zh-CN": "显示产品厂商",
        "zh-TW": "顯示產品廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "sort_enable",
      "label": {
        "da": "Aktivér sortering",
        "de": "Sortieren erlauben",
        "en": "Enable sorting",
        "es": "Habilitar la función ordenar",
        "fi": "Ota lajittelu käyttöön",
        "fr": "Activer le tri",
        "hi": "क्रमबद्ध करना सक्षम करें",
        "it": "Permetti di ordinare",
        "ja": "並べ替えを有効にする",
        "ko": "정렬 사용",
        "nb": "Aktiver sortering",
        "nl": "Sortering inschakelen",
        "pt-BR": "Habilitar organização",
        "pt-PT": "Ativar ordenação",
        "sv": "Aktivera sortering",
        "th": "เปิดใช้งานการจัดเรียง",
        "zh-CN": "启用排序",
        "zh-TW": "啟用排序"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "tags_enable",
      "label": {
        "da": "Aktivér tagfiltrering",
        "de": "Tag-Filtern erlauben",
        "en": "Enable tag filtering",
        "es": "Habilitar filtro de etiquetas",
        "fi": "Ota tunnisteiden suodatus käyttöön",
        "fr": "Activer le filtrage par balises",
        "hi": "टैग फ़िल्टर करना सक्षम करें",
        "it": "Attiva filtro tag",
        "ja": "タグでの絞り込みを有効にする",
        "ko": "태그 필터링 사용",
        "nb": "Aktiver taggfiltrering",
        "nl": "Filteren op tags inschakelen",
        "pt-BR": "Habilitar filtragem de tags",
        "pt-PT": "Ativar filtragem por etiqueta",
        "sv": "Aktivera taggfiltrering",
        "th": "เปิดใช้การกรองแท็ก",
        "zh-CN": "启用标签筛选",
        "zh-TW": "啟用標籤篩選功能"
      },
      "default": true
    }
  ]
}
{% endschema %}
