<div class="white-bg">
  <div class="m-page-header flex">
    <div class="header-left">
      <div class="header-inner">
        <h1><span class="underline">{{ page.title }}</span></h1>
      </div>
      {% assign page_image = page.metafields.airf.page_image %}
      {% if page_image and page_image != '&nbsp' %}
      <img src="{{ page_image }}" />
      {% endif %}
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <h1><span>We're here for you</span></h1>
          <h1>Get in touch, we can help you on your wellness journey</h1>
        </div>
      </div>
    </div>
  </div>



  <div class="contact-form form-vertical page-width">
    {%- assign formId = 'ContactForm' -%}
    {% form 'contact', id: formId %}
      {% include 'form-status', form: form, form_id: formId %}

      <div class="grid grid--half-gutters">
        <div class="grid__item medium-up--one-half">
          <label for="{{ formId }}-name">{{ 'contact.form.name' | t }}</label>
          <input type="text" id="{{ formId }}-name" name="contact[{{ 'contact.form.name' | t }}]" value="{% if form[name] %}{{ form[name] }}{% elsif customer %}{{ customer.name }}{% endif %}">
        </div>
        <div class="grid__item medium-up--one-half">
          <label for="{{ formId }}-email">{{ 'contact.form.email' | t }} <span aria-hidden="true">*</span></label>
          <input
            type="email"
            id="{{ formId }}-email"
            name="contact[email]"
            autocorrect="off"
            autocapitalize="off"
            value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}"
            aria-required="true"
            {%- if form.errors contains 'email' -%}
              class="input--error"
              aria-invalid="true"
              aria-describedby="{{ formId }}-email-error"
            {%- endif -%}
            >
          {%- if form.errors contains 'email' -%}
            <span id="{{ formId}}-email-error" class="input-error-message">
              <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
              {% include 'icon-error' %}
              <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
            </span>
          {%- endif -%}
        </div>
      </div>

      <label for="{{ formId }}-phone">{{ 'contact.form.phone' | t }}</label>
      <input type="tel" id="{{ formId }}-phone" name="contact[{{ 'contact.form.phone' | t }}]" pattern="[0-9\-]*" value="{% if form[phone] %}{{ form[phone] }}{% elsif customer %}{{ customer.phone }}{% endif %}">

      <label for="{{ formId }}-message">{{ 'contact.form.message' | t }}</label>
      <textarea rows="10" id="{{ formId }}-message" name="contact[{{ 'contact.form.message' | t }}]">{% if form.body %}{{ form.body }}{% endif %}</textarea>

      <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">

    {% endform %}
  </div>

  <div class="contact-locations page-width">
    <h4>Locations</h4>
    <div class="locations-wrapper">
      <div class="location">
        <h4 class="city">London</h4>
        <p>020 6768 9890</p>
        <a href="mailto:hello@mammabali.co.uk">hello@mammabali.co.uk</a>
      </div>
      <div class="location">
        <h4 class="city">Ibiza</h4>
        <p>020 6768 9890</p>
        <a href="mailto:hello@mammabali.co.uk">hello@mammabali.co.uk</a>
      </div>
      <div class="location">
        <h4 class="city">Portugal</h4>
        <p>020 6768 9890</p>
        <a href="mailto:hello@mammabali.co.uk">hello@mammabali.co.uk</a>
      </div>
      <div class="location">
        <h4 class="city">Bali</h4>
        <p>020 6768 9890</p>
        <a href="mailto:hello@mammabali.co.uk">hello@mammabali.co.uk</a>
      </div>
    </div>
  </div>

  <div class="share-story  page-width">
    <div class="top-bar">
      <h1>Want to learn more about our corporate & concierge services?</h1>
      <h1 class="hide-mob"><span>Your Wellness Journey</span></h1>
    </div>
    <p class="para">At Mamma are committed to making your journey to wellness simple and effortless. Our concierge services are open to anyone looking for advice or support in finding a wellness practitioner, workshop, or personalised retreat.</p>
    <p class="para">We also assist with group bookings, private gatherings, personal retreats, and weddings. This service is free for individual bookings. However, a small fee may be added for group bookings, extended services, and therapies under £70.</p>
    <p class="para">Our corporate and group offerings provide your company with our top wellness practitioners who will meticulously plan events to fit your needs. We will carefully select the best alternative therapists and practitioners highly skilled in mind, body, and soul. Afterward, you will find higher morale, reduced stress levels, and greater open-mindedness in the workplace. </p>
  </div>

</div>
