<div class="m-calendar-header">
  <div class="page-width">
    <div class="flex">
      <h1>Our Calendar</h1>
      <div class="m-filters">
        <ul>
          <li>All</li>
          <li>Festivals</li>
          <li>Retreats</li>
          <li>Classes</li>
          <li>Courses</li>
        </ul>
        <div class="suprise-me">
          <p>Don’t know, suprise me</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="m-calendar">
  <div class="page-width">
    <div class="m-calendar-wrapper">
      <div class="flex">
        <h1>All Practices</h1>
        <ul>

        </ul>
      </div>
      {% for events in collections.all.products %}
        {% assign practition = events.metafields.airf.practition %}
        {% assign level = events.metafields.airf.level %}
        {% assign pregnancy_ = events.metafields.airf.pregnancy_ %}
        {% assign speed = events.metafields.airf.speed %}
        {% assign space = events.metafields.airf.space %}
        {% assign type = events.metafields.airf.type %}
        {% assign practice = events.metafields.airf.practice %}
        {{events.title}}
        {{practition}}
        {% if pregnancy_  == "true" %}
          Pregnancy
        {else}
        {% endif %}
        {{speed}}
        {{space}}
        {{type}}
        {{practice}}
      {% endfor %}
    </div>
  </div>
</div>
