<!-- Start split screen -->
<div class="m-page-header flex">
  <div class="header-left">
    <div class="header-inner">
      <h1>Explore <span class="underline">Mamma</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
        <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>What are you looking for?</h1>
        <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
          <label>Search here</label>
          <div class="search-form__input-wrapper">
            <input
              type="text"
              name="q"
              placeholder="Wellness, Yoga, Mindfullness, Breathwork"
              role="combobox"
              aria-autocomplete="list"
              aria-owns="predictive-search-results"
              aria-expanded="false"
              aria-label="{{ 'general.search.placeholder' | t }}"
              aria-haspopup="listbox"
              class="search-form__input search-bar__input"
              data-predictive-search-drawer-input
            />
            <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
            <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
          </div>
          <label>Mamma Offerings</label>
          <select>
            <option value="option 1">1-1 session</option>
            <option value="option 2">Classes</option>
            <option value="option 3">Events</option>
            <option value="option 4">Courses</option>
            <option value="option 4">Retreats</option>
          </select>
          <label>How you would like your wellness?</label>
          <select>
            <option value="option 1">Online practice</option>
            <option value="option 2">Home visit</option>
          </select>
          <label>How are you felling?</label>
          <select>
            <option value="option 1">Mind</option>
            <option value="option 2">Body</option>
            <option value="option 3">Spirit</option>
            <option value="option 4">Motivational</option>
            <option value="option 4">All</option>
          </select>
          <button type="submit"
          data-search-form-submit>Search</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End split screen -->
<div class="m-calendar-header">
  <div class="page-width">
    <div class="flex">
      <h1>Our Calendar</h1>
      <div class="m-filters">
        <ul>
          <li>All</li>
          <li>Festivals</li>
          <li>Retreats</li>
          <li>Classes</li>
          <li>Courses</li>
        </ul>
        <div class="suprise-me">
          <p>Don’t know, suprise me</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'our-calendar' %}
<div class="m-discover-cta">
  <div class="page-width">
    <h1>
      Discover
      The Space by
      Mamma
    </h1>
    <p>Stay inspired and connect, watch online wellness and relax with healing sounds.</p>
  </div>
  <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/the_space_low.jpg?v=1600020411">
</div>
<div class="m-practice-list">
  <div class="page-width">
    <div class="m-practice-list-header">
      <h1>Our practices</h1>
    </div>
    <div class="flex">
      {% assign mind = linklists.mind %}
      {% assign body = linklists.body %}
      {% assign spirit = linklists.spirit %}
      <div class="m-practice-box mind">
        <div class="m-practice-box-inner">
          <svg width="83" height="63" viewBox="0 0 83 63" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)" fill="#F7EEEE"><path d="M41.5 63C25.3462 63 10.2978 55.7576.189225 43.1257L0 42.8866l.189225-.2291C10.2978 30.0256 25.3561 22.7832 41.5 22.7832s31.2022 7.2424 41.3108 19.8743l.1892.2291-.1892.2291C72.7121 55.7476 57.6538 63 41.5 63zM.956084 42.8866C10.9153 55.1897 25.6748 62.2429 41.5 62.2429c15.8252 0 30.5847-7.0532 40.5439-19.3563C72.0847 30.5835 57.3252 23.5304 41.5 23.5304c-15.8152 0-30.5847 7.0531-40.543916 19.3562zM41.002 16.4374c0-.269.2191-.4981.4979-.4981.2789 0 .498.2291.498.4981 0 .2789-.2191.4981-.498.4981-.2788 0-.4979-.2192-.4979-.4981zm0-3.9848c0-.269.2191-.4981.4979-.4981.2789 0 .498.2291.498.4981 0 .2789-.2191.4981-.498.4981-.2788 0-.4979-.2192-.4979-.4981zm0-3.98486c0-.26897.2191-.4981.4979-.4981.2789 0 .498.22913.498.4981 0 .27894-.2191.4981-.498.4981-.2788 0-.4979-.21916-.4979-.4981zm0-3.98482c0-.26897.2191-.4981.4979-.4981.2789 0 .498.22913.498.4981 0 .27894-.2191.4981-.498.4981-.2788 0-.4979-.21916-.4979-.4981zm0-3.984818C41.002.229127 41.2211 0 41.4999 0c.2789 0 .498.229127.498.498102 0 .278938-.2191.498103-.498.498103-.2788 0-.4979-.219165-.4979-.498103zM55.4727 18.6788c-.239-.1395-.3187-.4383-.1792-.6774.1294-.2391.4382-.3188.6772-.1893.239.1395.3187.4483.1793.6874-.0897.1594-.259.249-.4283.249-.0797 0-.1693-.0298-.249-.0697zm1.9919-3.4469c-.2391-.1394-.3187-.4483-.1793-.6873.1295-.2391.4382-.3188.6772-.1794.239.1395.3187.4384.1793.6775-.0896.1594-.2589.249-.4283.249-.0896 0-.1693-.0199-.2489-.0598zm1.9918-3.4568c-.239-.1395-.3187-.4383-.1793-.6774.1295-.2391.4382-.3188.6773-.1793.239.1295.3187.4383.1792.6774-.0896.1594-.2589.249-.4282.249-.0896 0-.1693-.0199-.249-.0697zm1.9918-3.44686c-.239-.13947-.3186-.44829-.1792-.67742.1295-.23909.4382-.32875.6772-.18928.239.13947.3187.44829.1793.67742-.0897.15939-.259.24905-.4283.24905-.0896 0-.1693-.01992-.249-.05977zm1.9919-3.45683c-.239-.13947-.3187-.43833-.1793-.67742.1295-.23909.4382-.31879.6772-.17932.2391.12951.3187.43833.1793.67742-.0896.15939-.2589.24905-.4282.24905-.0897 0-.1693-.01992-.249-.06973zM72.6523 24.8952c-.1394-.2291-.0597-.538.1793-.6774.239-.1395.5478-.0498.6772.1893.1395.2291.0598.5379-.1792.6774-.0797.0398-.1693.0597-.249.0597-.1693 0-.3386-.0796-.4283-.249zm3.4459-1.9924c-.1394-.2291-.0597-.538.1793-.6774.239-.1395.5478-.0498.6872.1892.1295.2292.0498.538-.1892.6775-.0797.0398-.1594.0597-.249.0597-.1693 0-.3386-.0797-.4283-.249zm3.4459-1.9924c-.1295-.2291-.0498-.538.1892-.6774.2391-.1395.5378-.0499.6773.1793.1394.2391.0597.5479-.1793.6874-.0797.0398-.1693.0597-.249.0597-.1792 0-.3386-.0797-.4382-.249zM9.67035 25.0845c-.23902-.1395-.31869-.4483-.17926-.6774.12947-.2391.4382-.3288.67721-.1893.239.1394.3187.4483.1793.6774-.0897.1694-.259.249-.42827.249-.07967 0-.1693-.0199-.24898-.0597zm-3.45584-1.9924c-.22906-.1395-.31869-.4483-.17927-.6775.13943-.239.44817-.3287.67723-.1892.23902.1394.32865.4483.18922.6774-.08963.1693-.25893.249-.4382.249-.07967 0-.16931-.0199-.24898-.0597zm-3.44588-1.9924c-.23903-.1395-.3187-.4483-.17927-.6874.13943-.2292.4382-.3188.67723-.1793.23902.1394.31869.4483.17926.6774-.08963.1693-.25894.249-.42824.249-.08964 0-.16931-.0199-.24898-.0597zM26.84 18.4995c-.1295-.2391-.0498-.5479.1892-.6874.239-.1295.5378-.0498.6772.1893.1395.2391.0598.5379-.1792.6774-.0797.0399-.1693.0697-.249.0697-.1693 0-.3386-.0896-.4382-.249zm-1.9819-3.4568c-.1394-.2391-.0598-.538.1793-.6775.239-.1394.5378-.0597.6772.1794.1394.239.0597.5479-.1793.6873-.0797.0399-.1693.0598-.249.0598-.1693 0-.3386-.0896-.4282-.249zm-1.9918-3.4469c-.1395-.2391-.0598-.5479.1792-.6774.239-.1395.5378-.0598.6772.1793.1395.2391.0598.5379-.1792.6774-.0797.0498-.1693.0697-.249.0697-.1693 0-.3386-.0896-.4282-.249zm-1.9919-3.45684c-.1394-.22913-.0597-.53795.1793-.67742.239-.13947.5378-.04981.6772.18928.1394.22913.0598.53795-.1793.67742-.0796.03985-.1693.05977-.2489.05977-.1693 0-.3387-.08966-.4283-.24905zm-1.9918-3.44687c-.1395-.23909-.0598-.54791.1792-.67742.2391-.13947.5378-.05977.6773.17932.1394.23909.0597.53795-.1793.67742-.0797.04981-.1693.06973-.249.06973-.1693 0-.3386-.08966-.4282-.24905z"/><path d="M41.1615 57.2021c-10.8356 0-19.6495-8.8165-19.6495-19.6552 0-4.4829 1.5436-8.8662 4.3621-12.3429.1295-.1594.3685-.1893.5278-.0598.1594.1295.1893.3686.0598.528-2.699 3.3472-4.1928 7.5612-4.1928 11.8747 0 10.4303 8.4852 18.908 18.9025 18.908 10.4174 0 18.9026-8.4877 18.9026-18.908 0-4.4331-1.5636-8.7367-4.402-12.1337-.1294-.1594-.1095-.3985.0498-.528.1594-.1395.3884-.1096.5279.0498 2.9479 3.5265 4.5812 7.9995 4.5812 12.6119-.01 10.8387-8.8338 19.6552-19.6694 19.6552z"/></g><defs><clipPath id="clip0"><path fill="#fff" d="M0 0h83v63H0z"/></clipPath></defs></svg>
          <h1>{{mind.title}}</h1>
          {% for link in mind.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="m-practice-image-hover__mind">
          <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/DTS_Caldo_019.jpg?v=1601154192">
        </div>
      </div>
      <div class="m-practice-box body">
        <div class="m-practice-box-inner">
          <svg width="161" height="54" viewBox="0 0 161 54" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.42969.379883C30.9997 3.61988 54.9297 6.76988 79.6397 8.77988c14.05 1.14 28.1803 1.89002 41.9803 4.76002 4.9 1.02 9.83 2.34 14.03 5.05 10.43 6.72 16.51 17.61 24.25 27.93M6.44971.52002c1.52 7.62 8.97999 8.64 15.34999 10.11998 7.82 1.81 15.64 3.63 23.45 5.44" stroke="#F7EEEE" stroke-width=".75" stroke-miterlimit="10" stroke-linecap="round"/><path d="M.379883 42.5C9.24988 36.86 23.3199 27.23 32.1899 21.58c1.92-1.22 3.85-2.45 5.96-3.32 2.63-1.09 5.47-1.58 8.2-2.39 3.25-.96 6.35-2.37 9.57-3.39 9.25-2.93001 19.24-2.59001 28.84-1.12M76.3498 21.29c-6.65 1.26-13.29 2.52-19.94 3.78-1.29.25-2.61.5-3.8 1.06-1.32.62-2.43 1.58-3.55 2.5-9.77 8.02-21.27 13.61-32.65 19.13-1.67.81-3.4 1.64-5.26 1.74-1.86003.11-4.58003-1.3-5.39003-2.97l5.23003-2.4" stroke="#F7EEEE" stroke-width=".75" stroke-miterlimit="10" stroke-linecap="round"/><path d="M24.4297 44.2997c1.46 2.02 4.18 2.7 6.22 2.02 11.55-4.07 20.37-12.22 32.6-13.58 15.62-1.36 29.2 6.79 44.8203 9.51 6.11.68 12.9 0 18.31-4.14M.379883 42.4997c.639997 1.93 2.749997 3.09 4.779997 3.17 2.03.08 4-.68 5.84002-1.56 10.47-4.97 18.75-13.52 28.32-20.06 1.3-.89 2.64-1.75 4.11-2.34 2.22-.89 4.65-1.11 7-1.56 6.63-1.26 12.79-4.33 19.33-6 3.22-.82 6.65-1.3 9.84-.34" stroke="#F7EEEE" stroke-width=".75" stroke-miterlimit="10" stroke-linecap="round"/><path d="M46.7798 38.4901c1.52 2.4 4.24 2.4 6.28 1.72 11.55-5.43 23.77-4.07 35.97-3.14M120.96 41.1699c4.76 3.27 9.27 7.48 12.62 12.18M7.43994 2.98988c2.85996.84 7.66996 1.55 9.84996-1.11M1.48975 43.8799c3.17-1.34 6.67-3.43 7.73-6.94M6.97998 47.61c2.58-.91 5.77002-2.66 7.24002-5.07M25.23 45.0299c3.19-.72 6.05-2.79 7.74-5.59M37.75 18.7798c.51.29.98.66 1.4 1.08M43.4097 21.9497c.82.29 1.54.84 2.04 1.54M52.9897 26.0498c.2-.04.4.08.56.2.52.39 1 .82 1.44 1.3M86.25 18.4798c.93-.39 1.92-.63 2.93-.7.38-.03.78-.03 1.1.18M125.21 41.0698l1.92-1.02" stroke="#F7EEEE" stroke-width=".75" stroke-miterlimit="10" stroke-linecap="round"/></svg>
          <h1>{{body.title}}</h1>
          {% for link in body.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="m-practice-image-hover__body">
          <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/15-09-203193.jpg?v=1601158551">
        </div>
        <div class="m-practice-image-hover__body right">
          <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/15-09-203203.jpg?v=1601158330">
        </div>
      </div>
      <div class="m-practice-box spirit">
        <div class="m-practice-box-inner">
          <svg width="60" height="99" viewBox="0 0 60 99" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M59.5456 47.1578L29.9966 98.474.45459 47.1578H59.5456z" stroke="#EAE0D6" stroke-width=".75" stroke-miterlimit="10"/><path d="M29.9966 60.1307c11.6931 0 21.1723-9.5065 21.1723-21.2333 0-11.7269-9.4792-21.2333-21.1723-21.2333-11.6932 0-21.17238 9.5064-21.17238 21.2333 0 11.7268 9.47918 21.2333 21.17238 21.2333z" stroke="#EAE0D6" stroke-width=".75" stroke-miterlimit="10"/><path d="M29.9967 75.7751c6.9162 0 12.523-5.6229 12.523-12.559 0-6.9362-5.6068-12.5591-12.523-12.5591-6.9163 0-12.5231 5.6229-12.5231 12.5591 0 6.9361 5.6068 12.559 12.5231 12.559zM29.9966.350586V47.3472" stroke="#EAE0D6" stroke-miterlimit="10" stroke-linecap="round"/></svg>
          <h1>{{spirit.title}}</h1>
          {% for link in spirit.links %}
            <a href="{{ link.url }}">{{ link.title }}</a>
          {% endfor %}
        </div>
        <div class="m-practice-image-hover__spirit">
          <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/15-09-203336.jpg?v=1601158676">
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'our-people' %}
