<div class="m-page-carousel">
  <div class="m-page-header flex">
    <div class="header-left">
      <div class="header-inner">
        <h1>Your one stop platform for <span class="underline">wellbeing</span></h1>
      </div>
      <div class="img-wrapper">
        {% assign page_image = page.metafields.airf.page_image %}
        {% if page_image and page_image != '&nbsp' %}
            <img class="car_img display" src="{{ page_image }}" />
        {% endif %}
        {% assign page_ima_2 = page.metafields.airf.page_ima_2 %}
        {% if page_ima_2 and page_ima_2 != '&nbsp' %}
            <img class="car_img" src="{{ page_ima_2 }}" />
        {% endif %}
        {% assign page_im_th = page.metafields.airf.page_im_th %}
        {% if page_im_th and page_im_th != '&nbsp' %}
            <img class="car_img" src="{{ page_im_th }}" />
        {% endif %}
      </div>
      <div class="carousel-footer">
        <p>Mind - Body - Spirit</p>
        <div class="m-blob">
          <div class="blob display"></div>
          <div class="blob"></div>
          <div class="blob"></div>
        </div>
      </div>
    </div>
    <div class="header-right">
      <div class="header-inner">
        <div class="header-inner-content">
          <h1>What are you looking for?</h1>
          <form class="search-form search-bar__form" action="{{ routes.search_url }}" method="get" role="search">
            <div class="search-form__input-wrapper">
              <input
                type="text"
                name="q"
                placeholder="Wellness, Yoga, Mindfullness, Breathwork"
                role="combobox"
                aria-autocomplete="list"
                aria-owns="predictive-search-results"
                aria-expanded="false"
                aria-label="{{ 'general.search.placeholder' | t }}"
                aria-haspopup="listbox"
                class="search-form__input search-bar__input"
                data-predictive-search-drawer-input
              />
              <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />
              <div class="predictive-search-wrapper predictive-search-wrapper--drawer" data-predictive-search-mount="drawer"></div>
            </div>

            <button class="search-bar__submit search-form__submit"
              type="submit"
              data-search-form-submit>
              {% include 'icon-search' %}
              <span class="icon__fallback-text">Search</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="home-about">
  <div class="home-text-wrapper">
    <h1><span class="handwritten">Why</span> Mamma</h1>
    <h2>We are here to support you in your journey to becoming the best version of yourself, by providing carefully selected alternative therapists, events, retreats
 & resources.</h2>
  </div>
  <div class="home-about-footer">
    <button>Book a Practice</button> <button>Find a Practioner</button> <button>About us</button>
  </div>
</div>
<div class="home-about practice-list">
  <div class="home-text-wrapper">
    <h1><span class="handwritten">How can</span> Mamma help you?</h1>
  </div>
  <div class="home-practice-list">
    {% assign home = linklists.home %}
    {% for link in home.links %}
      <a href="{{ link.url }}">
        {% if link.title == 'Self Care' %}
          {% include 'hand-svg' %}
        {% elsif link.title == 'Spritual Growth' %}
          {% include 'moon-svg' %}
        {% elsif link.title == 'Fitness' %}
          {% include 'fitness-svg' %}
        {% elsif link.title == 'Yoga' %}
          {% include 'yoga-svg' %}
        {% elsif link.title == 'General Health' %}
          {% include 'health-svg' %}
        {% elsif link.title == 'Pain & Chronic Conditions' %}
          {% include 'health-svg' %}
        {% elsif link.title == 'Nutrition' %}
          {% include 'nutrition-svg' %}
        {% elsif link.title == 'Wellbeing' %}
          {% include 'wellbeing-svg' %}
        {% elsif link.title == 'Meditation' %}
          {% include 'meditation-svg' %}
        {% elsif link.title == 'Relationships' %}
          {% include 'relationships-svg' %}
        {% elsif link.title == 'I dont know' %}
          {% include 'dont-know-svg' %}
        {% else %}
          {% include 'practice-svg' %}
        {% endif %}
        {{ link.title }}</a>
    {% endfor %}
  </div>
</div>
<div class="page-width">
  <div class="m-calendar-outer-wrapper flex">
    {% include 'our-calendar-home' %}
    {% include 'our-events' %}
  </div>
</div>
{% include 'our-people' %}
<div class="m-page-header flex m-discover-cta">
  <div class="header-left">
    <div class="header-inner">
      <h1>Dive <span class="underline">in</span></h1>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0459/1697/9349/files/DTS_Caldo_0121.jpg?v=1600848579">
  </div>
  <div class="header-right">
    {% include 'mamma-badge' %}
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>Book now</h1>
        <h2>Find a practice</h2>
        <ul>
          <li>Events & Retreats</li>
          <li>Book a Practitioner</li>
          <li>Choose a Therapy</li>
          <li>Corporate Wellbeing</li>
          <li>Group & Concierge</li>
        </ul>
        <p>Can’t find what you are looking for?</p>
        <button class="m-button">Book a call</button>
      </div>
    </div>
  </div>
</div>
<div class="about-page">
  {% include 'about-top' %}
</div>
<div class="m-instagram">
    <h1>Mamma Community</h1>
    <div id="insta-feed"></div>
    <ul><li>Book a practice</li> <li>Find a Practioner</li> <li>Join Us a practitoner</li> <li>About us</li></ul>
</div>
