<div class="m-page-header flex space-page white-bg">
  <div class="header-left">
    <div class="header-inner">
      <h1><span class="underline">The Space</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
    <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>A place to relect,</h1>
        <h1><span>enjoy & relax</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="video-section page-width">
  <h1>Online wellness</h1>
  <div class="video-wrapper ">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/inpok4MKVLM?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="watch">
  {% assign blog = blogs.Video %}
  {% for article in blog.articles %}
    <!-- {% assign video = video.metafields.airf.video %}
      {% if video and video != '&nbsp' %}
          {{ video }}
          <!-- <h1>{{ video.title }}</h1>
          <img src="{{ video.image.src | img_url: 'medium' }}"> -->
    {% endif %} -->

{% assign video = article.metafields.airf.video %}
{% if video and video != '&nbsp' %}
    {{ video }}
{% endif %}
    <img src="{{ article.image.src | img_url: 'medium' }}">
    <h2>{{ article.title }}</h2>
    <h2>{{ article.excerpt }}</h2>
  {% endfor %}
</div>


<div class="book-practice">
  <h1>Book a practice</h1>
  <p>Stay inspired and connect, watch online wellness and relax with healing sounds.</p>
</div>

<div class="share-story white-bg">
  <h1>Do you want to share a story?</h1>
  <h1><span>Your Wellness Journey</span></h1>
  <p>We are here to support you in your journey to becoming the best version of yourself, by providing carefully selected alternative therapist, events, retreats & resources.</p>
</div>
