<div class="m-page-header flex space-page white-bg">
  <div class="header-left">
    <div class="header-inner">
      <h1><span class="underline">The Space</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
    <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1>A place to relect,</h1>
        <h1><span>enjoy & relax</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="video-section page-width">
  <h1>Online wellness</h1>
  <div class="video-wrapper ">
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/inpok4MKVLM?controls=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>

<div class="watch">
  something here
  {% assign blog = blogs.Video %}
  {% for article in blog.articles %}
    <h2>{{ article.title }}</h2>
  {% endfor %}
  something else here?
</div>







<!-- {% for video in blog.video %}
    {{ forloop.index }}
    <img src="{{ video.image.src | img_url: 'medium' }}">
{% else %}
    // no products in your frontpage collection
{% endfor %} -->

<!-- {% assign video = video.metafields.airf.video %}
  {% if video and video != '&nbsp' %}
      {{ video }}
      <h1>{{ video.title }}</h1>
{% endif %} -->


<!-- {% for video in blog.video %}
  {% assign video = video.metafields.airf.video %}
    {% if video and video != '&nbsp' %}
        {{ video }}
        <h1>{{ video.title }}</h1>
        <img src="{{ video.image.src | img_url: 'medium' }}">
  {% endif %}
{% endfor %} -->
