<!-- Start split screen -->
<div class="m-page-header flex">
  <div class="header-left">
    <div class="header-inner">
      <h1>Curated products for your <span class="underline">journey</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
        <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="shop-header-container featured">
        {% for product in collections.all.products %}
        {% if product.tags contains 'shop' %}
          <div class="m-product-card">
            <div class="m-product-image-wrapper">
              <img src="{{ product | img_url: 'medium' }}">
            </div>
            <h3>{{product.title}}</h3>
            <h3>{{product.vendor}}</h3>
            <p>{{product.price | money }}</p>
          </div>
        {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
