<div class="m-page-header flex white-bg the-space">
  <div class="header-left">
    <div class="header-inner">
      <h1><span class="underline">The Space</span></h1>
    </div>
    {% assign page_image = page.metafields.airf.page_image %}
    {% if page_image and page_image != '&nbsp' %}
    <img src="{{ page_image }}" />
    {% endif %}
  </div>
  <div class="header-right">
    <div class="header-inner">
      <div class="header-inner-content">
        <h1><span>A place to relect,</span></h1>
        <h1>enjoy & relax</h1>
      </div>
      <div class="header-right-after-search">
        <div class="dot"></div>
        <div class="line"></div>
        <div class="horizontal-line"></div>
      </div>
      <div class="header-footer">
        <p>Watch, Read & Listen to our wellbeing curated content.</p>
      </div>
    </div>
  </div>
</div>
<div class="video-section">
  <div class="page-width">
    <h1>Online wellness</h1>
    <div class="video-wrapper ">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/oT8_32yVxLc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<div class="white-bg blog-content-wrapper">
  <div class="page-width">

    <div class="watch">
      <div class="top-bar">
        <h1>Watch</h1>
        <h1 class="hide-mob"><span>Your Wellness Journey</span></h1>
      </div>
      <div class="item-wrapper">
        {% assign blog = blogs.Video %}
        {% for article in blog.articles %}
          <div class="watch-item blog-item">
            {% assign video = article.metafields.airf.video %}
            {% if video and video != '&nbsp' %}
                {{ video }}
            {% endif %}
            <h2><span>{{ article.title }}</span></h2>
            <h2 class="excerpt">{{ article.excerpt }}</h2>
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="read">
      <div class="top-bar">
        <h1>Read</h1>
        <h1 class="hide-mob"><span>Your Wellness Journey</span></h1>
      </div>
      <div class="item-wrapper">
        {% assign blog = blogs.Article %}
        {% for article in blog.articles %}
          <a class="read-item blog-item" href-="{{ article_content }}">
            <img src="{{ article.image.src | img_url: 'large' }}">
            <h2><span>{{ article.title }}</span></h2>
            <h2 class="excerpt">{{ article.excerpt }}</h2>
          </a>
        {% endfor %}
      </div>
    </div>

    <div class="listen">
      <div class="top-bar">
        <h1>Listen</h1>
        <h1 class="hide-mob"><span>Your Wellness Journey</span></h1>
      </div>
      <div class="item-wrapper">
        {% assign blog = blogs.Audio %}
        {% for article in blog.articles %}
          <a class="listen-item blog-item" href-="{{ article_content }}">
            <img src="{{ article.image.src | img_url: 'large' }}">
            <h2><span>{{ article.title }}</span></h2>
            <h2 class="excerpt">{{ article.excerpt }}</h2>
          </a>
        {% endfor %}
      </div>
    </div>

  </div>
</div>


<div class="book-practice">
  <div class="wrapper page-width">
    <div class="inner">
      <h1>Book a practice</h1>
      <p>Stay inspired and connect, watch online wellness and relax with healing sounds.</p>
    </div>
  </div>
</div>

<div class="white-bg">
  <div class="share-story page-width">
    <div class="top-bar">
      <h1>Do you want to share a story?</h1>
      <h1 class="hide-mob"><span>Your Wellness Journey</span></h1>
    </div>
    <p>We are here to support you in your journey to becoming the best version of yourself, by providing carefully selected alternative therapist, events, retreats & resources.</p>
  </div>
</div>
