{% paginate search.results by 10 %}

<div class="page-width page-search">
  {% if search.performed == false %}
    <div class="text-center">
      <h1 class="h2">{{ 'general.search.title' | t }}</h1>
  {% else %}
    <div class="text-center">
      <h1 class="h2">
        <span class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}:</span>
        {{ 'general.search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      </h1>
  {% endif %}
      <div class="grid">
        <div class="grid__item medium-up--six-tenths medium-up--push-two-tenths">
          {% if search.performed and search.results_count == 0 %}
            <div class="rte search--no-results-found">
              <p>{{ 'general.search.no_results' | t }}</p>
            </div>
          {% endif %}
          <form action="{{ routes.search_url }}" method="get" role="search" class="search-form search-page-form">
            <div class="input-group input-group--nowrap">
              <div class="input-group__field input-group__field--connected search-form__input-wrapper">
                <input
                  type="search"
                  name="q"
                  value="{{ search.terms | escape }}"
                  placeholder="{{ 'general.search.placeholder' | t }}"
                  role="combobox"
                  aria-autocomplete="list"
                  aria-owns="predictive-search-results"
                  aria-expanded="false"
                  aria-label="{{ 'general.search.placeholder' | t }}"
                  aria-haspopup="listbox"
                  class="search-form__input"
                  data-search-page-predictive-search-input
                />

                <input type="hidden" name="options[prefix]" value="last" aria-hidden="true" />

                <button type="reset" class="search-form__clear-action" aria-label="{{ 'general.search.clear_search_term' | t }}" data-search-page-predictive-search-clear>
                  {% include 'icon-close' %}
                </button>

                <div class="predictive-search-wrapper" data-predictive-search-mount="default"></div>
              </div>

              <button type="submit" class="search-form__connected-submit" aria-label="{{ 'general.search.submit' | t }}" data-search-page-predictive-search-submit>
                {% include 'icon-search' %}
              </button>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>


{% if search.performed %}
  <h2 class="visually-hidden">{{ 'general.search.heading' | t: count: search.results_count }}</h2>
  <div class="page-width">
    <h1 class="results-header">Our Practices</h1>
    <div class="m-calendar-wrapper search-results">
      <ul class="list-view-items">
        {% for item in search.results %}
          {% assign practition = item.metafields.airf.practition %}
          {% assign level = item.metafields.airf.level %}
          {% assign pregnancy_ = item.metafields.airf.pregnancy_ %}
          {% assign speed = item.metafields.airf.speed %}
          {% assign space = item.metafields.airf.space %}
          {% assign type = item.metafields.airf.type %}
          {% assign practice = item.metafields.airf.practice %}
          {% assign location = item.metafields.airf.location %}
          {% if item.object_type == 'product' %}
            <li class="list-view-item">
              {% if item.object_type == 'product' %}
                {% include 'product-card-list', product: item %}
              {% else %}
                <div class="product-card product-card--list">
                  <a href="{{ item.url }}" class="full-width-link">
                    <span class="visually-hidden">{{ item.title }}</span>
                  </a>
                  <div class="list-view-item__link">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper product-card__image-wrapper">
                        {% unless item.image == null %}
                          <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                        {% endunless %}
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title" aria-hidden="true">
                        <span class="product-card__title">{{ item.title }}</span>
                      </div>
                      <div class="product-card__description">
                        {{ item.content | strip_html | truncate: 200 }}
                      </div>
                    </div>
                    <span class="m-event-meta">{% if practition and practition != '&nbsp' %}{{practition}} • {% endif %}{% if speed and speed != '&nbsp' %}{{speed}} • {% endif %}{% if space and space != '&nbsp' %}{{space}} • {% endif %}{% if type and type != '&nbsp' %}{{type}} • {% endif %}{% if practice and practice != '&nbsp' %}{{practice}}{% endif %}{% if pregnancy_ == "true" %} • Pregnancy{% endif %} • {% if location and location != '&nbsp' %}{{location}}{% endif %} <a href="{{events.url}}">Read More</a></span>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <h1 class="results-header">Our Products</h1>
    <div class="m-calendar-wrapper search-results">
      <ul class="list-view-items">
        {% for item in search.results %}
          {% if item.object_type == 'product' and item.tags contains 'shop' %}
            <li class="list-view-item">
              {% if item.object_type == 'product' %}
                {% include 'product-card-list', product: item %}
              {% else %}
                <div class="product-card product-card--list">
                  <a href="{{ item.url }}" class="full-width-link">
                    <span class="visually-hidden">{{ item.title }}</span>
                  </a>
                  <div class="list-view-item__link">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper product-card__image-wrapper">
                        {% unless item.image == null %}
                          <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                        {% endunless %}
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title" aria-hidden="true">
                        <span class="product-card__title">{{ item.title }}</span>
                      </div>
                      <div class="product-card__description">
                        {{ item.content | strip_html | truncate: 200 }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <h1 class="results-header">Inspiration</h1>
    <div class="m-calendar-wrapper search-results">
      <ul class="list-view-items">
        {% for item in search.results %}
          {% if item.object_type == 'page'%}
            <li class="list-view-item">
              {% if item.object_type == 'product' %}
                {% include 'product-card-list', product: item %}
              {% else %}
                <div class="product-card product-card--list">
                  <a href="{{ item.url }}" class="full-width-link">
                    <span class="visually-hidden">{{ item.title }}</span>
                  </a>
                  <div class="list-view-item__link">
                    <div class="list-view-item__image-column">
                      <div class="list-view-item__image-wrapper product-card__image-wrapper">
                        {% unless item.image == null %}
                          <img class="list-view-item__image" src="{{ item.image.src | img_url: '600x600' }}" alt="{{ item.image.alt | escape }}">
                        {% endunless %}
                      </div>
                    </div>

                    <div class="list-view-item__title-column">
                      <div class="list-view-item__title" aria-hidden="true">
                        <span class="product-card__title">{{ item.title }}</span>
                      </div>
                      <div class="product-card__description">
                        {{ item.content | strip_html | truncate: 200 }}
                      </div>
                    </div>
                  </div>
                </div>
              {% endif %}
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  {%- if paginate.pages > 1 -%}
    {% include 'pagination', paginate: paginate %}
  {%- endif -%}
{% endif %}

{% if search.results_count < 2  %}
  <div class="search--less-than-2-results"></div>
{% endif %}

{% endpaginate %}
